
<%= render "layouts/navbar" %><div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 pt-3" style="font-size: 2rem">Thank you for completing the Patient Information!<h6></b></b>
  </div>
    <br><br><br><br><br>
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 mb-5 pt-3" style="font-size: 1.5rem">Please press the Finish button to exit<h6></b></b>
  </div>
  <br><br><br><br>
  <div class="text-center">
  <br><br>
    <%= button_to("Finish", destroy_user_session_path, style: "font-weight: bold", class:"btn btn-danger mt-5 ps-4 pe-4 font-weight-bold rounded-pill border border-dark border-2", method: :delete, data: { turbo_method: :delete }) %>
  </div>
</div>
