<%= render "layouts/navbar" %>

<% if (current_user && current_user.Patient?) %>
  <head>
    <script type="text/javascript">
    window.history.forward();
    function noback() { window.history.forward(); }
    </script>
  </head>
  <body onload="noback();"
  onpageshow="if (event.persisted) noback();" onunload="">
<% end %>

<div class="text-center">
  <% if (current_user && current_user.Patient?) %>
    <%= link_to "Patient List", regis_path, :disable_with => "processing", class:"nav-link text-dark ms-1 mt-1 pt-1 pb-1 fw-bold bg-info rounded-pill border border-dark border-2" %>
  <% end %>
</div>
<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 pt-3" style="font-size: 3.3rem">Welcome to Zhang's Acupuncture<h6></b></b>
  </div>
    <br><br><br><br><br>
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 mb-5 pt-3" style="font-size: 2rem">Traditional Chinese Medicine and Medical Treatment<h6></b></b>
  </div>
</div>

