<%= render "layouts/navbar" %>
<div class="text-center">
  <% if (current_user && current_user.Patient?) %>
    <%= link_to "Patient List", regis_path, class:"nav-link text-dark ms-1 mt-1 pt-1 pb-1 fw-bold bg-info rounded-pill border border-dark border-2" %>
  <% end %>
</div>
<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 pt-3" style="font-size: 3.3rem">Thank you for visiting us!<h6></b></b>
  </div>
    <br><br><br><br><br>
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 mb-5 pt-3" style="font-size: 2rem">Please press the Finish button to exit<h6></b></b>
  </div>
  <br><br><br><br>
  <div class="text-center">
  <br><br><br><br>
    <%= button_to("Finish", destroy_user_session_path, style: "font-weight: bold", class:"btn btn-danger mt-5 ps-4 pe-4 rounded-pill border border-dark border-2", method: :delete, data: { turbo_method: :delete }) %>
  </div>
</div>